<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="/static/bootstrap/normalize.css">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap/themify-icons.css">
    <link rel="stylesheet" href="/static/bootstrap/pe-icon-7-filled.css">
    <link rel="stylesheet" href="/static/bootstrap/flag-icon.min.css">
    <link rel="stylesheet" href="/static/bootstrap/cs-skin-elastic.css">
    <link rel="stylesheet" href="/static/bootstrap/style.css">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="/static/bootstrap/weather-icons.css" rel="stylesheet"/>
    <link href="/static/bootstrap/fullcalendar.css" rel="stylesheet"/>

    <link href="/static/bootstrap/chartist.min.css" rel="stylesheet">
    <link href="/static/bootstrap/jqvmap.min.css" rel="stylesheet">

    <style>
        #weatherWidget .currentDesc {
            color: #ffffff !important;
        }

        .traffic-chart {
            min-height: 335px;
        }

        #flotPie1 {
            height: 150px;
        }

        #flotPie1 td {
            padding: 3px;
        }

        #flotPie1 table {
            top: 20px !important;
            right: -10px !important;
        }

        .chart-container {
            display: table;
            min-width: 270px;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #flotLine5 {
            height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }

        #cellPaiChart {
            height: 160px;
        }

        .left {
            float: left;
            width: 48%;
            height: 100%;
        }
        .right {
            margin-left: 50%;
            height: 100%;
        }

        #div1, #div2, #div3, #div4, #div5{
            display: inline-block;
        }

        #wrap{
            display: flex;
            justify-content: flex-start;
        }
    </style>
</head>

<body>
<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="admin-home.html"><i class="menu-icon fa fa-laptop"></i>欢迎 </a>
                </li>
                <li class="menu-title">菜单</li><!-- /.menu-title -->
                <li>
                    <a href="{{ url_for("product_management.show_products") }}"> <i class="menu-icon fa fa-cogs"></i>成品列表</a>
                </li>
                <li>
                    <a href="{{ url_for("product_management.add_product") }}"> <i class="menu-icon fa fa-th"></i>添加成品</a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
<!-- /#left-panel -->
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="./"><img src="/static/images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="/static/images/logo2.png" alt="Logo"></a>
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">

                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                        <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span
                                class="count">13</span></a>

                        <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>

                        <a class="nav-link" href="{{ url_for("out") }}"><i class="fa fa-power -off"></i>Logout</a>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <!-- /#header -->
    <!-- Content -->
    <div class="content">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">用户中心</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center">增加人员</h3>
                        </div>
                        <hr>
                        <form id="add_product_form" action="#" method="post" novalidate="novalidate">
                            <div class="form-group text-center">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="text-muted fa fa-cc-visa fa-2x"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-cc-mastercard fa-2x"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-cc-amex fa-2x"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-cc-discover fa-2x"></i></li>
                                </ul>
                            </div>

                            <!--
                            1、col是column简写：列；
                            2、xs是maxsmall简写：超小， sm是small简写：小，  md是medium简写：中等， lg是large简写：大；
                            3、-* 表示占列数，即占每行row分12列栅格系统比；
                            4、.col-xs-* 超小屏幕如手机 （<768px）时使用；
                                col-sm-* 小屏幕如平板 （768px ≤ 宽度 ＜992px）时使用；
                                col-md-* 中等屏幕如普通显示器 （992px ≤ 宽度 ＜ 1200px）时使用；
                                col-lg-* 大屏幕如大显示器 （≥1200px）时使用。-->
                            <div class="row">
                                <div class="left">
                                    <label for="productcode" class="control-label mb-1">成品编码</label>  <!--for 属性规定 label 与哪个表单元素绑定。-->
                                    <div class="col-xs-12">
                                        {{ form.productcode }}
                                    </div>
                                </div>

                                <div class="right">
                                    <label class="control-label mb-1">成品型号</label>
                                    <div class="col-xs-12">
                                        {{ form.producttype }}
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="left">
                                    <label class="control-label mb-1">客户</label>
                                    <div class="col-xs-12">
                                        {{ form.client }}
                                    </div>
                                </div>

                                <div class="right">
                                    <label class="control-label mb-1">录入员姓名</label>
                                    <div class="col-xs-12">
                                        {{ form.entryclerk }}
                                    </div>
                                </div>
                            </div>

                            <br/>                                                                          <!--br空行-->

                            <div id="wrap" class="row">
                                <div>
                                    <label class="control-label mb-1">物料编码</label>
                                    <div class="col-xs-12">
                                        {{ form.materialCode }}
                                    </div>
                                </div>
                                <div>
                                    <label class="control-label mb-1">物料数量</label>
                                    <div class="col-xs-12">
                                        {{ form.materialNum }}
                                    </div>
                                </div>
                                <div>
                                    <label class="control-label mb-1">物料单价</label>
                                    <div class="col-xs-12">
                                        {{ form.materialPrice }}
                                    </div>
                                </div>
                                <div>
                                    <label class="control-label mb-1">贴片数量</label>
                                    <div class="col-xs-12">
                                        {{ form.patchPoint }}
                                    </div>
                                </div>
                                <div>
                                    <label class="control-label mb-1">贴片单价</label>
                                    <div class="col-xs-12">
                                        {{ form.patchPrice }}
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <!--button 默认的type是sumbit 要声明为type="button" -->
                                <button onclick="addRow()" type="button"><img src="http://jianzhong5137.blog.163.com/blog/button.gif" alt=""/>添加物料</button>
                                <br/>
                                <table id="materialofproduct" class="table table-striped table-bordered">
                                <!--<caption><h3>物料组成</h3></caption>-->                                    <!--h1标签控制一段文字的大小(从h1~h6)-->
                                <br/>
                                    <thead>
                                        <tr align="center" bgcolor="deepskyblue">
                                            <th>物料编码</th>
                                            <th>物料数量</th>
                                            <th>物料单价</th>
                                            <th>贴片数量</th>
                                            <th>贴片单价</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <!--<tr>
                                        <td>三极管</td>
                                        <td>23</td>
                                        <td>2.00</td>
                                        <td>11</td>
                                        <td>0.05</td>
                                    </tr>-->
                                    <!--<tr>
                                        <td><input type="text"/></td>
                                        <td><input type="text"/></td>
                                        <td><input type="text"/></td>
                                        <td><input type="text"/></td>
                                        <td><input type="text"/></td>
                                    </tr>-->
                                    {% for i in allclass %}
                                            <tr>
                                            <td>{{ i[0] }}</td>
                                            <td>{{ i[1] }}</td>
                                            <td>{{ i[1] }}</td>
                                            <td>{{ i[1] }}</td>
                                            <td>{{ i[1] }}</td>
                                            </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <br/>                                                                          <!--br空行-->

                            <div class="row">
                                <div class="col-xs-12">
                                    {{ form.submit }}
                                    {{ form.csrf_token }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->


    </div>
    <!-- /.content -->
    <div class="clearfix"></div>

</div>
<!-- /#right-panel -->

<script src="/static/jquery/jquery-2.1.4.min.js"></script>
<script src="/static/jquery/popper.min.js"></script>
<script src="/static/jquery/plugins.js"></script>
<script src="/static/jquery/main.js"></script>
<script src="/static/jquery/Chart.bundle.js"></script>

<script src="/static/jquery/chartist.min.js"></script>
<script src="/static/jquery/chartist-plugin-legend.js"></script>
<script src="/static/jquery/jquery.flot.js"></script>
<script src="/static/jquery/jquery.flot.pie.js"></script>
<script src="/static/jquery/jquery.flot.spline.js"></script>
<script src="/static/jquery/jquery.simpleWeather.min.js"></script>
<script src="/static/jquery/weather-init.js"></script>
<script src="/static/jquery/moment.js"></script>
<script src="/static/jquery/fullcalendar.min.js"></script>
<script src="/static/jquery/fullcalendar-init.js"></script>
cript>
<script src="/static/jquery/weather-init.js"></script>

<script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.js"></script>
<script src="/static/jquery/fullcalendar-init.js"></script>

<!--Local Stuff-->
<script>
    jQuery(document).ready(function ($) {
        "use strict";

        // Pie chart flotPie1
        var piedata = [
            {label: "Desktop visits", data: [[1, 32]], color: '#5c6bc0'},
            {label: "Tab visits", data: [[1, 33]], color: '#ef5350'},
            {label: "Mobile visits", data: [[1, 35]], color: '#66bb6a'}
        ];

        $.plot('#flotPie1', piedata, {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                    innerRadius: 0.65,
                    label: {
                        show: true,
                        radius: 2 / 3,
                        threshold: 1
                    },
                    stroke: {
                        width: 0
                    }
                }
            },
            grid: {
                hoverable: true,
                clickable: true
            }
        });
        // Pie chart flotPie1  End
        // cellPaiChart
        var cellPaiChart = [
            {label: "Direct Sell", data: [[1, 65]], color: '#5b83de'},
            {label: "Channel Sell", data: [[1, 35]], color: '#00bfa5'}
        ];
        $.plot('#cellPaiChart', cellPaiChart, {
            series: {
                pie: {
                    show: true,
                    stroke: {
                        width: 0
                    }
                }
            },
            legend: {
                show: false
            }, grid: {
                hoverable: true,
                clickable: true
            }

        });
        // cellPaiChart End
        // Line Chart  #flotLine5
        var newCust = [[0, 3], [1, 5], [2, 4], [3, 7], [4, 9], [5, 3], [6, 6], [7, 4], [8, 10]];

        var plot = $.plot($('#flotLine5'), [{
                data: newCust,
                label: 'New Data Flow',
                color: '#fff'
            }],
            {
                series: {
                    lines: {
                        show: true,
                        lineColor: '#fff',
                        lineWidth: 2
                    },
                    points: {
                        show: true,
                        fill: true,
                        fillColor: "#ffffff",
                        symbol: "circle",
                        radius: 3
                    },
                    shadowSize: 0
                },
                points: {
                    show: true,
                },
                legend: {
                    show: false
                },
                grid: {
                    show: false
                }
            });
        // Line Chart  #flotLine5 End
        // Traffic Chart using chartist
        if ($('#traffic-chart').length) {
            var chart = new Chartist.Line('#traffic-chart', {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                series: [
                    [0, 18000, 35000, 25000, 22000, 0],
                    [0, 33000, 15000, 20000, 15000, 300],
                    [0, 15000, 28000, 15000, 30000, 5000]
                ]
            }, {
                low: 0,
                showArea: true,
                showLine: false,
                showPoint: false,
                fullWidth: true,
                axisX: {
                    showGrid: true
                }
            });

            chart.on('draw', function (data) {
                if (data.type === 'line' || data.type === 'area') {
                    data.element.animate({
                        d: {
                            begin: 2000 * data.index,
                            dur: 2000,
                            from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                            to: data.path.clone().stringify(),
                            easing: Chartist.Svg.Easing.easeOutQuint
                        }
                    });
                }
            });
        }
        // Traffic Chart using chartist End
        //Traffic chart chart-js
        if ($('#TrafficChart').length) {
            var ctx = document.getElementById("TrafficChart");
            ctx.height = 150;
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
                    datasets: [
                        {
                            label: "Visit",
                            borderColor: "rgba(4, 73, 203,.09)",
                            borderWidth: "1",
                            backgroundColor: "rgba(4, 73, 203,.5)",
                            data: [0, 2900, 5000, 3300, 6000, 3250, 0]
                        },
                        {
                            label: "Bounce",
                            borderColor: "rgba(245, 23, 66, 0.9)",
                            borderWidth: "1",
                            backgroundColor: "rgba(245, 23, 66,.5)",
                            pointHighlightStroke: "rgba(245, 23, 66,.5)",
                            data: [0, 4200, 4500, 1600, 4200, 1500, 4000]
                        },
                        {
                            label: "Targeted",
                            borderColor: "rgba(40, 169, 46, 0.9)",
                            borderWidth: "1",
                            backgroundColor: "rgba(40, 169, 46, .5)",
                            pointHighlightStroke: "rgba(40, 169, 46,.5)",
                            data: [1000, 5200, 3600, 2600, 4200, 5300, 0]
                        }
                    ]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    }

                }
            });
        }
        //Traffic chart chart-js  End
        // Bar Chart #flotBarChart
        $.plot("#flotBarChart", [{
            data: [[0, 18], [2, 8], [4, 5], [6, 13], [8, 5], [10, 7], [12, 4], [14, 6], [16, 15], [18, 9], [20, 17], [22, 7], [24, 4], [26, 9], [28, 11]],
            bars: {
                show: true,
                lineWidth: 0,
                fillColor: '#ffffff8a'
            }
        }], {
            grid: {
                show: false
            }
        });
        // Bar Chart #flotBarChart End
    });
</script>

<!--jQuery-->
<!--//导入jquery模块-->
<!--jquery是一个js包，为了就是减少js的代码量-->
<script src="/static/jquery/jquery-2.1.4.min.js"></script>
<script  type="text/javascript">
    $(function() {
        $("#add_product_form").submit(function(e)
        {
            e.preventDefault();
            alert('提交');

            var tableObj = document.getElementById("materialofproduct");
            var rows=tableObj.rows;
            console.log(rows);
            for(var i=1;i<rows.length;i++) //从第二行开始获取表格数据，除去标题这行
            {
                for(var j=0;j<rows[i].cells.length;j++)
                {
                    console.log(rows[i].cells[j].innerHTML);
                }
            }

            $.ajax({
                url: "/add_product",
                type: "POST",
                dataType: "json",
                data:$(this).serialize(),
                success: function (callback) {
                    console.log(callback);
                    if(callback.valueOf('ok')){
                        window.location.href="/product_management";//跳转地址
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log(xhr.status);// 状态码
                    console.log(xhr.readyState);// 状态
                    console.log(textStatus);// 错误信息
                    alert('错误');
                }
            });

        })
    })
</script>

<script src="/static/jquery/jquery-2.1.4.min.js"></script>
<script  type="text/javascript">
    var rowCount = 1;
    var colCount=1;
    var html='';
    function addRow() {
        //alert("点击");
        rowCount++;
        console.log(rowCount);
        console.log(colCount);
        for(var i=0;i<colCount-2;i++){
            html += '<td><input/></td>';
        }
        //console.log($("#add_product_form").serialize());
        //console.log(getFormData($("#add_product_form")));
        var formData=getFormData($("#add_product_form"));
        //console.log(formData['entryclerk']);
        /*var rowTemplate = '<tr class="tr_'+rowCount+'">\n' +
            '                                        <td>三极管</td>\n' +
            '                                        <td>23</td>\n' +
            '                                        <td>2.00</td>\n' +
            '                                        <td>11</td>\n' +
            '                                        <td>0.05</td>'+html+'</tr>';*/
        var rowTemplate = '<tr class="tr_'+rowCount+'">\n' +
            '                                        <td>'+formData['materialCode']+'</td>\n' +
            '                                        <td>'+formData['materialNum']+'</td>\n' +
            '                                        <td>'+formData['materialPrice']+'</td>\n' +
            '                                        <td>'+formData['patchPoint']+'</td>\n' +
            '                                        <td>'+formData['patchPrice']+'</td>'+html+'</tr>';
        var tableHtml = $("#materialofproduct tbody").html();
        tableHtml += rowTemplate;
        $("#materialofproduct tbody").html(tableHtml);
        html='';
    }

    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }

    $("#materialofproduct").on("dblclick","td",function(){
        //alert("要编辑吗？");
        var td = $(this);
        var url=$("form").attr("action");
        // 根据表格文本创建文本框 并加入表表中--文本框的样式自己调整
        var text = td.text();
        var txt = $("<input name='cell' type='text' class='form-control'>").val(text);
        //var txt = $("<input name='cell' type='text'>").val(text);
        txt.blur(function(){
            // 失去焦点，保存值。于服务器交互自己再写,最好ajax
            var newText = $(this).val(),
                name=$(this).attr("name"),
                input=$(this),
                data={name:newText};
            $.post(url,data,function () {
                // 移除文本框,显示新值
                input.remove();
                td.text(newText);
            });
        });
        td.text("");
        td.append(txt);
    });

    /*var inputItem;
    var g_activeItem;
    function changeToText(obj){
        alert('文本');
        if( obj && inputItem ) {
            var str = " ";
            if(inputItem.value != "") {
                str = inputItem.value;
            }
            obj.innerText = str;
        }
    }

    function changeToEdit(obj){
        alert('要编辑吗？');
        if(event.srcElement.tagName.toLowerCase() == "td"){
            inputItem=document.createElement("input");
            inputItem.type="text";
            inputItem.style.size="20";
            inputItem.style.height="18px";
            inputItem.style.fontSize="12px";
        }
        inputItem.value = obj.innerText;
        obj.innerHTML = '';
        obj.appendChild(inputItem);
        inputItem.focus();
        g_activeItem = obj;
    }

    //旧版使用document.attachEvent("onclick",function(){})
    document.getElementById("materialofproduct").addEventListener("ondblclick",function(event){
        if(event.srcElement.tagName.toLowerCase() == "td"){
            changeToEdit(event.srcElement);
        }
    });*/

    //旧版使用document.attachEvent("onclick",function(){})
    /*var x = document.getElementById("myBtn");
    if (x.addEventListener) {                    //所有主流浏览器，除了 IE 8 及更早 IE版本
        x.addEventListener("click", myFunction);
    } else if (x.attachEvent) {                  // IE 8 及更早 IE 版本
        x.attachEvent("onclick", myFunction);
    }*/
    /*document.getElementById("materialofproduct").addEventListener("onclick",function(event){
        if( event.srcElement.parentNode == g_activeItem || event.srcElement == g_activeItem ) {
            return;
        } else {
            changeToText(g_activeItem);
        }
    });
    document.createEvent("HTMLEvents").initEvent("ondblclick", false, false);
    document.createEvent("HTMLEvents").initEvent("onclick", false, false);*/
</script>

<!--下拉框-->
<script src="/static/jquery/jquery-2.1.4.min.js"></script>
<script>
    $(".selectd").on('focus', function (e) {
        var optionTxts = ['','足够的市场机会','持续增强组织能力','增强每日管理能力','赢客工具的上线和使用'];
        var value = $(this).text();
        var htmlText = "<select id='sel_BizPlan' style='width:100%; '>";
        for(var i=0;i<optionTxts.length;i++){
            //for(var option of optionTxts){
            var optionTex = optionTxts[i];
            if(optionTex== value){
                htmlText = htmlText+"<option selected = 'true'>"+optionTex+"</option>";
                /*if(value == optionTex){
                htmlText = htmlText+"<option selected = 'true'>"+optionTex+"</option>";
                */
            }else{
                htmlText = htmlText+"<option>"+optionTex+"</option>";
            }
        };		htmlText = htmlText+"</select>";
        $(this).parent().append(htmlText);
        $(this).hide();
        $("#sel_BizPlan").focus();
    });
</script>

</body>
</html>
